<div class="d-flex justify-content-center flex-column m-auto" style="width:fit-content;">
<%= form_with(model: poster) do |form| %>
  <% if poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
        <% poster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Titre %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Auteur %>
    <%= form.text_field :author, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Prénom %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Nom%>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :URL_de_l_Affiche %>
    <%= form.text_field :picture, class:"form-control" %>
  </div>

  <div class="actions">
  <p class="text-center"><%= form.submit "Envoyer", class:"btn btn-primary" %></p>
  </div>
<% end %>
</div>

