<p id="notice"><%= notice %></p>

<h1>Affiches</h1>

<table class="table table-striped h4">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Affiche</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posters.each do |poster| %>
      <tr>
        <td><%= poster.title %></td>
        <td><%= poster.author %></td>
        <td><%= poster.first_name %></td>
        <td><%= poster.last_name %></td>
        <td><img src="<%= poster.picture %>"></td>
        <td><%= link_to 'Monter', poster %></td>
        <td><%= link_to 'Editer', edit_poster_path(poster) %></td>
        <td><%= link_to 'Détruire', poster, method: :delete, data: { confirm: 'Confirmation de destruction' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Post', new_poster_path, class:"btn btn-warning d-flex justify-content-center"  %>
