<div class="d-flex justify-content-center flex-column m-auto" style="width:fit-content;">
<h2>Modifier <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Mot_de_passe %> <i>(ne pas remplir si vous ne voulez pas le chanter)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmation_de_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :Mot_de_passe_actuel %> <i>(nous avons besoin de votre mot de passe actel pour effectuer les modifications)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualiser",class:"form-control" %>
  </div>
<% end %>

<h3 class="text-center">Supprimer mon compte</h3>

<p class="text-center h5 ">Pas Content?<%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sure?" }, method: :delete, class:"btn btn-primary d-flex justify-content-center button_center"%></p>

<p class="text-center h5"><%= link_to "Retour", :back %></p>
</div>