<!DOCTYPE html>
<html>
  <head>
    <title>MengelatteGuillaumeRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-0">
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <img src="https://us.123rf.com/450wm/fayethequeen/fayethequeen1611/fayethequeen161100085/68500137-joystick-joypad-game-controller-ic%C3%B4ne-logo-vintage-illustration-r%C3%A9tro-stock-vector-plate.jpg?ver=6" class="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to  'Accueil', root_path, class:"nav-link px-2 ml-3 h5 text-white" %></li>
        </ul>

        <div class="text-end">    
             <% if user_signed_in? %> 
             <%= link_to  current_user.email, edit_user_registration_path, class:"btn btn-light" %>
                <%= link_to  'Deconnexion', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
              <% else %>
              <%= link_to  'Connexion', new_user_session_path, class:"btn btn-warning" %>
              <%= link_to  'Inscription', new_user_registration_path, class:"btn btn-outline-light me-2" %>
              <% end %>
        </div>
      </div>
    </div>
    </header>
    <div class="containerBody">
    <%= yield %>
    </div>

    <footer class=" w-100 bg-light text-center text-lg-start navbar fixed-bottom d-flex justify-content-center">
      <!-- Copyright -->
      <div class="text-center p-3 w-100" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://google.com/">MENGELATTE Guillaume</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
